<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a199ebcf-d683-4c3b-95c3-2de587ede7cb/resourceGroups/UniversityPlan/providers/Microsoft.Web/sites/universityAppMVCAsp</ResourceId>
    <ResourceGroup>UniversityPlan</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://universityappmvcasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>universityappmvcasp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>universityAppMVCAsp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$universityAppMVCAsp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SchoolContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:universitywebapp.database.windows.net,1433;Initial Catalog=UniversityWebApp;User ID=jdloomis@universitywebapp.database.windows.net;Password=JDLmnia2013!" Name="Data Source=tcp:universitywebapp.database.windows.net,1433;Initial Catalog=UniversityWebApp;User Id=jdloomis@universitywebapp.database.windows.net;Password=JDLmnia2013!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContosoUniversity.DAL.SchoolContext, ContosoUniversity" MigrationConfiguration="ContosoUniversity.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:universitywebapp.database.windows.net,1433;Initial Catalog=UniversityWebApp;User Id=jdloomis@universitywebapp.database.windows.net;Password=JDLmnia2013!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>